<!DOCTYPE html>
<html>
<head>
	<title>Bem Vindo</title>
</head>
<body>
	<div class="container">
		<div class="title">
			<h1>Menu Principal</h1>	
		</div>
		<div>
			<div><a href="index.php?route=usuario/formulario">Inserir um Usuário</a></div>
			<div><a href="index.php?route=usuario/requisitar">Imprimir a Lista de Usuários</a></div>
			<div><a href="index.php?route=usuario/inserirID">Deletar um Usuário</a></div>
			<div><a href="index.php?route=usuario/formularioAtualizar">Atualizar um Usuário</a></div>
		</div>		
	</div>
</body>
</html>